* {
padding: 5px 20px;
background: #000;
color: #01bba5;
font-family: "Science Gothic", sans-serif, Arial;
}

.container{
    background: #000;
    
}

h1 {
background: #444;
box-shadow: 0 2px 10px rgba(0, 253, 196, 0.7);
}

.avatar {
width: 120px;
height: 120px;
border-radius: 50%;
margin-bottom: 10px;
background: #000;
border: #01bba5;
box-shadow: 0 2px 10px rgba(0, 253, 196, 0.7);
}


.section {
padding: 20px 0;
}


h2 {
margin-bottom: 20px;
background: #444;
box-shadow: 0 2px 10px rgba(0, 253, 196, 0.7);
}




/* Habilidades */
.skills-list {
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 10px;
background: #444444;
}


.skills-list li {
background: #ddd;
padding: 8px 14px;
border-radius: 20px;
font-size: 15px;
}


/* Proyectos */

.projects{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project {
background: #555;
padding: 5px;
margin-bottom: 10px;
border-radius: 5px;
box-shadow: 0 2px 10px rgba(0, 253, 196, 0.7);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
width: 400px;
height: 600px;

}




.project img {
width: 45%;
border-radius: 10px;
}

.project a {
    background: #01bba5;
    color: #000;
    text-decoration: none;
    height: 4%;
    width: 35%;
    text-align: center;
    align-content: center;
    border-radius: 17px;
    transition: 0.5s;
}

.project h3{
    background: #ccc;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    box-shadow: 0 2px 12px rgba(0, 253, 196, 0.5);
}

.project p{
    background: #122;
    border-radius: 10px;
}

.project p strong{
    background: #122;
    border-radius: 10px;
}



.project :hover{
    color: #01bba5;
    background: #000;
    width: 36%;
    height: 5%;
    transition: 0.5s;
}

/* Contacto */
.contact-list {
list-style: none;
}


.contact-list li {
margin-bottom: 10px;
}

.contact-list a {
    background: #01bba5;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
}

.contact-list :hover{
    background: #fff;
    color: #000;
    transition: 0.5;
}

.contact-list img{
    height: 20px;
    width: 20px;
    background-color: transparent;
    align-content: center;
    text-align: center;
    padding: 0 10px 0 0;
}


/* Footer */
.footer {
text-align: center;
padding: 20px;
background: #000;
color: white;
}


/* Responsivo */
@media (max-width: 600px) {
.skills-list {
justify-content: center;
}
}